body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #111;
    color: white;
    margin: 0;
}

header {
    background-color: #222;
    padding: 20px;
}

header h1 {
    margin: 0;
    color: #00ff99;
}

.videos {
    display: flex;
    flex-direction: column; /* vídeos um abaixo do outro */
    align-items: center;
    gap: 20px;
    padding: 20px;
}

iframe {
    border-radius: 10px;
}

.videos h2 {
    margin: 15px 0 10px;
    color: #ffd700; /* dourado estilo Dragon Ball */
}

footer {
    background-color: #222;
    padding: 10px;
    font-size: 14px;
}
