body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #111;
    color: white;
    margin: 0;
}

header {
    background-color: #222;
    padding: 20px;
}

header h1 {
    margin: 0;
    color: #00ff99;
}

.videos {
    display: flex;
    flex-direction: column; /* coloca um embaixo do outro */
    align-items: center;    /* centraliza horizontalmente */
    gap: 20px;              /* espaço entre os vídeos */
    padding: 20px;
}

iframe {
    border-radius: 10px;
    max-width: 100%;
}

footer {
    background-color: #222;
    padding: 10px;
    font-size: 14px;
}
